<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-Ua-Compatible" content="ie=edge">
  <title>Index Page</title>
</head>

<body>
  <div class="container">
    <h3><a href="/contents/create">Create Content</a></h3>
    <h1>Content List</h1>
    <% if(contents.length > 0) { %>
    <table>
      <thead>
        <tr>
          <th>Content Name</th>
          <th>Position</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i = 0; i < contents.length; i++ ) { %>
        <tr>
          <td>
            <a href="/contents/show/<%= contents[i]._id %>">
              <%= contents[i].name %>
            </a>
          </td>
          <td>
            <%= contents[i].position %>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <% } else { %>
    <div>No Contents found</div>
    <% } %>
  </div>
</body>

</html>